html {
    background-color: lightgrey;
}

h1 {
    /* float: left; */
    background-color: #4aaaa5;
    color: white;
    padding: 30px;
    margin-left: 250px;
    font-size: 30px;
}

#page-title {
    display: inline-block;    
}

.top a {
    display: inline-block;
    background-color: white;
    /* float: left; */
    margin-left: 2%;

}

header {
    display: inline-block;
    background-color: white;
    width: 100%;
    margin-bottom: 25px;
}

.mainsection {
    background-color: white;
    /* float: left; */
    width: 960px;
    display: inline-block;
    margin-left: 250px;
}

img {
    /* position: relative; */
    float: left;
    width: 25%;
    height: 65%;
    margin-right: 10px;
    margin-bottom: 5px;
    border: solid black 1px;
}

p {
    /* position: absolute; */
    /* float: left; */
    /* display: inline-block; */
    font-size: 20px;
}

footer {
    clear: left;
    display: block;
    text-align: center;
}

nav {
    float: right;
    margin-top: 35px;
    margin-right: 282px;
}

nav > a {
    padding:15px;
    margin:10px;
    color: grey;
}

#aboutmehead {
    color: #4aaaa5;
    padding-bottom: 15px;
    border-bottom: 1px solid grey;
    margin-bottom: 15px;
    font-size: 30px;
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
}